# maven ignore
target/
*.jar
!.mvn/wrapper/*
*.war
*.zip
*.tar
*.tar.gz
pom.xml.releaseBackup
release.properties

# eclipse ignore
.settings/
.project
.classpath
.factorypath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
/bin/
hellodubbo/api/src/test/
hellodubbo/dubbo/src/test/
hellodubbo/stub/src/main/resources/
hellodubbo/stub/src/test/
pureapi/src/main/resources/
pureapi/src/test/
test/src/main/resources/
test/src/test/
